body {
    background-color: #f0f0f0;
}

.ipad {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 1em;
    /*!*border-color: #e6e6e6;*!*/
    border: 5px solid #e6e6e6;
    max-width: 90%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    background-color: whitesmoke;
}

.logo img{
    height: 150px;
    width: 150px;
}