body {
	background-color: #f0f0f0;
}

.ipad {
	display: inline-block;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin-left: 1em;
	/*!*border-color: #e6e6e6;*!*/
	border: 5px solid #e6e6e6;
	max-width: 90%;
}

nav {
	height: 120px;
	width: 100vw;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90px;
	width: 100%;
	margin-top: 2em;
	margin-bottom: 1.5em;
	background-color: white;
	/*background-color: blue;*/

}

.logo img {
	height: 150px;
	width: 150px;
}

.nav-item {
	list-style-type: none;
}

h2 {
	margin-top: 1.5em;
}

.second-header {
	font-weight: bolder;
	margin-top: 1em;
	margin-bottom: 1em;
	font-family: 'Anton', sans-serif;
}

body {
	font-family: 'Abel', sans-serif;
}

#design {
	background-color: #E6563B;
	height: 140px;
	width: 140px;
	border-radius: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid thick white;
	color: white;
	font-family: 'Anton', sans-serif;
	font-weight: bolder;
}

#develop {
	background-color: #DEA03D;
	height: 140px;
	width: 140px;
	border-radius: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid thick white;
	color: white;
	font-family: 'Anton', sans-serif;
	font-weight: bolder;
}

#support {
	background-color: #7CB06C;
	height: 140px;
	width: 140px;
	border-radius: 90%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: solid thick white;
	color: white;
	font-family: 'Anton', sans-serif;
	font-weight: bolder;
}

#host {
	background-color: #00ABA9;
	height: 140px;
	width: 140px;
	border-radius: 90%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: solid thick white;
	color: #f0f0f0;
	font-family: 'Anton', sans-serif;
	font-weight: bolder;
}

.extra-picture {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

#featured {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
}

#D1 {
	background-color: #E6563B;
	height: 30px;
	width: 30px;
	border-radius: 90%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	/*background-position: left;*/
}


#D2 {
	background-color: #DEA03D;
	height: 30px;
	width: 30px;
	border-radius: 90%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

#S {
	background-color: #7CB06C;
	height: 30px;
	width: 30px;
	border-radius: 90%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

#H {
	background-color: #00ABA9;
	height: 30px;
	width: 30px;
	border-radius: 90%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.secondary-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.parent .row {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}


@media only screen and (max-width: 576px) {
	.parent {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.child {
		margin-left: 0;
	}

	hr {
		display: none;
	}

	.other-images {
		display: none;
	}

	.image-footer {
		display: flex;
		justify-content: space-around;
	}

	.image-container-two {
		display: none
	}

}


@media only screen and (min-width: 576px) {
	.disappear-xs {
		display: none;
	}

	.image-container {
		display: flex;
	}

	.img-fluid {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.image-container-two {
		display: none;
	}

}

@media screen and (min-width: 768px) {
	.image-container-two {
		display: flex;
	}
}